---
import TwoPanes from '../../layouts/TwoPanes.astro'
import Password from '../../components/form/Password.astro'
import Submit from '../../components/form/Submit.astro'
---

<TwoPanes title="Forgotten Password : New Password">
	<div class="w-full max-w-prose">
		<h1 class="pb-4 text-2xl lg:text-4xl 2xl:text-5xl font-medium">
			New Password
		</h1>
		<p>
			Please enter a new your password to use. The password needs to be at
			least 8 characters long, and contain both letters and numbers.
		</p>
		<form class="my-2" action="">
			<Password name="new-password" value="" autocomplete="new-password">
				New Password
			</Password>
			<Submit>Reset Password</Submit>
		</form>
	</div>
</TwoPanes>
